@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Comforter&family=Pacifico&family=Yanone+Kaffeesatz:wght@300&display=swap');


p {
    color: red;
}


.test1 {
    font-family: 'Meow Script';
    font-weight: 400;
    font-size: 36px;
    color: seagreen;
}